{
  "openapi": "3.1.0",
  "info": {
    "title": "Runta API",
    "version": "0.1.0",
    "description": "Hand-written from https://runta.com/docs/reference/api/ and verified against live https://api.runta.com. Runta does not publish an openapi.json (all candidate URLs 404), so this file is source rather than a generated snapshot \u2014 it is maintained by hand, operation group by operation group, and codegen reads it directly with no network access. Where the published docs and the live API disagree, this spec follows the live API; see NOTES.md for the list of divergences.\n\nCoverage: auth, identity, runtime CRUD, the image and checkpoint lists (for name resolution), and the model-providers list (for its organization_id). 74 of the 85 documented operations are not yet described."
  },
  "servers": [
    {
      "url": "https://api.runta.com",
      "description": "Hosted public API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "Device authorization and credential lifecycle."
    },
    {
      "name": "identity",
      "description": "Who the current credential belongs to."
    },
    {
      "name": "model-providers",
      "description": "Organization-managed model providers. Also the only endpoint that reveals the organization id."
    },
    {
      "name": "runtimes",
      "description": "Create, list, inspect and delete runtimes."
    },
    {
      "name": "images",
      "description": "Runtime images."
    },
    {
      "name": "checkpoints",
      "description": "Runtime checkpoints."
    }
  ],
  "paths": {
    "/v2/auth/device/authorization": {
      "post": {
        "operationId": "beginDeviceAuthorization",
        "summary": "Start a device authorization",
        "description": "Begins the RFC 8628 device authorization flow. Unauthenticated: this is how a client obtains a credential in the first place. Returns a `user_code` to show the user, a `verification_uri_complete` to open, and a `device_code` to poll `POST /v2/auth/device/token` with, no more often than every `interval` seconds and no later than `expires_at`.",
        "tags": [
          "auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeginDeviceAuthorizationRequest"
              },
              "example": {
                "client_id": "runta_cli",
                "device_name": "my-laptop"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device authorization started.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceAuthorizationResponse"
                },
                "example": {
                  "data": {
                    "device_code": "0f3c\u2026",
                    "user_code": "G3UE-K5BZ",
                    "verification_uri": "https://dashboard.runta.com/device",
                    "verification_uri_complete": "https://dashboard.runta.com/device?code=G3UE-K5BZ",
                    "expires_at": "2026-09-26T08:11:38Z",
                    "interval": 5
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "501": {
            "$ref": "#/components/responses/Error501"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          },
          "504": {
            "$ref": "#/components/responses/Error504"
          },
          "default": {
            "$ref": "#/components/responses/ErrorDefault"
          }
        }
      }
    },
    "/v2/auth/device/token": {
      "post": {
        "operationId": "exchangeDeviceToken",
        "summary": "Exchange a device code for an access token",
        "description": "Polls for completion of a device authorization. Unauthenticated. While the user has not yet approved, this returns **400 with a different body shape** from every other endpoint \u2014 a flat OAuth error string (`authorization_pending`, `slow_down`, `access_denied`, `expired_token`) plus the polling `interval`. Callers must branch on the status code before parsing `error`, because at 400 `error` is a string and everywhere else it is an object.",
        "tags": [
          "auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExchangeDeviceTokenRequest"
              },
              "example": {
                "device_code": "0f3c\u2026"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device access token issued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceToken"
                },
                "example": {
                  "access_token": "rt_\u2026",
                  "token_type": "Bearer",
                  "expires_in": 2592000
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "501": {
            "$ref": "#/components/responses/Error501"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          },
          "504": {
            "$ref": "#/components/responses/Error504"
          },
          "default": {
            "$ref": "#/components/responses/ErrorDefault"
          },
          "400": {
            "description": "Authorization is still pending, or the device code was denied or expired. Note the non-standard body shape.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceTokenPendingError"
                },
                "example": {
                  "error": "authorization_pending",
                  "interval": 5
                }
              }
            }
          }
        }
      }
    },
    "/v2/auth/token": {
      "delete": {
        "operationId": "revokeCurrentToken",
        "summary": "Revoke the current bearer credential",
        "description": "Revokes the credential used to make this request. Takes no body \u2014 the token in the `Authorization` header is the subject. This is what `runta logout` calls.",
        "tags": [
          "auth"
        ],
        "responses": {
          "204": {
            "description": "Token revoked. No content."
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "501": {
            "$ref": "#/components/responses/Error501"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          },
          "504": {
            "$ref": "#/components/responses/Error504"
          },
          "default": {
            "$ref": "#/components/responses/ErrorDefault"
          }
        }
      }
    },
    "/v2/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get the current user profile",
        "description": "The minimal current-user identity exposed to user-authorized device clients.\n\nTwo caveats confirmed live:\n1. An organization-scoped API key (`rt_\u2026`) gets **403 `permission_denied`** here \u2014 \"principal's role does not allow this organization action\". This endpoint only works with a credential minted by the device flow for a user.\n2. It returns no organization, scope, or expiry information, so it cannot answer \"which org am I in\" or \"is my token still valid\". There is no token-introspection operation in the API.",
        "tags": [
          "identity"
        ],
        "responses": {
          "200": {
            "description": "Current user profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                },
                "example": {
                  "data": {
                    "user_id": "800d9aa5-479a-4773-9a15-53d5a4193701",
                    "email": "user@example.com",
                    "display_name": "Example User"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "501": {
            "$ref": "#/components/responses/Error501"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          },
          "504": {
            "$ref": "#/components/responses/Error504"
          },
          "default": {
            "$ref": "#/components/responses/ErrorDefault"
          }
        }
      }
    },
    "/v2/model-providers": {
      "get": {
        "operationId": "listManagedModelProviders",
        "summary": "List managed model providers",
        "description": "Lists the organization-managed model providers. Incidentally the only operation that returns the calling credential's `organization_id`, which is why `runta whoami` calls it.",
        "tags": [
          "model-providers"
        ],
        "responses": {
          "200": {
            "description": "Managed model providers, plus the organization the credential belongs to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelProvidersResponse"
                },
                "example": {
                  "organization_id": "b2d2ce6e-7f85-4178-bf2a-56547cf3e4b8",
                  "model_providers": []
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "501": {
            "$ref": "#/components/responses/Error501"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          },
          "504": {
            "$ref": "#/components/responses/Error504"
          },
          "default": {
            "$ref": "#/components/responses/ErrorDefault"
          }
        }
      }
    },
    "/v2/runtimes": {
      "get": {
        "operationId": "listRuntimes",
        "summary": "List runtimes",
        "tags": [
          "runtimes"
        ],
        "description": "Cursor-paginated. The cursor parameter is named `after`, not `cursor`.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated statuses. Upstream documents no enum; verified live to accept RuntimeStatus values, rejecting anything else with 422."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Page size. 0 and 101 both return 422."
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque cursor from pagination.next_cursor."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of runtimes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "501": {
            "$ref": "#/components/responses/Error501"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          },
          "504": {
            "$ref": "#/components/responses/Error504"
          },
          "default": {
            "$ref": "#/components/responses/ErrorDefault"
          }
        }
      },
      "post": {
        "operationId": "createRuntime",
        "summary": "Create a runtime",
        "tags": [
          "runtimes"
        ],
        "description": "Asynchronous: returns 201 with status `creating`. Poll until the runtime is usable.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "description": "Reuse across retries of one logical creation so a retry cannot double-create."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRuntimeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Runtime created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeResponse"
                }
              }
            },
            "headers": {
              "Location": {
                "description": "Canonical runtime URI.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "501": {
            "$ref": "#/components/responses/Error501"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          },
          "504": {
            "$ref": "#/components/responses/Error504"
          },
          "default": {
            "$ref": "#/components/responses/ErrorDefault"
          }
        }
      }
    },
    "/v2/runtimes/{runtime_id}": {
      "get": {
        "operationId": "getRuntime",
        "summary": "Get a runtime",
        "tags": [
          "runtimes"
        ],
        "parameters": [
          {
            "name": "runtime_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Runtime UUID or display name \u2014 despite the upstream title, a name is accepted."
          }
        ],
        "responses": {
          "200": {
            "description": "The runtime.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "501": {
            "$ref": "#/components/responses/Error501"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          },
          "504": {
            "$ref": "#/components/responses/Error504"
          },
          "default": {
            "$ref": "#/components/responses/ErrorDefault"
          }
        }
      },
      "delete": {
        "operationId": "deleteRuntime",
        "summary": "Delete a runtime",
        "tags": [
          "runtimes"
        ],
        "description": "Optimistic concurrency: `expected_revision` is required and must match the runtime's current `revision`, so a caller has to read the runtime first. A stale revision is a 409.",
        "parameters": [
          {
            "name": "runtime_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Runtime UUID or display name."
          },
          {
            "name": "expected_revision",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "The runtime's current `revision`."
          }
        ],
        "responses": {
          "202": {
            "description": "Deletion accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeResponse"
                }
              }
            },
            "headers": {
              "Location": {
                "description": "Canonical runtime URI.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "204": {
            "description": "Deletion was already complete. No content."
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "501": {
            "$ref": "#/components/responses/Error501"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          },
          "504": {
            "$ref": "#/components/responses/Error504"
          },
          "default": {
            "$ref": "#/components/responses/ErrorDefault"
          }
        }
      }
    },
    "/v2/images": {
      "get": {
        "operationId": "listRuntimeImages",
        "summary": "List runtime images",
        "tags": [
          "images"
        ],
        "description": "Images carry both a slug `id` (what create takes) and a display `name`, so the CLI lists them to accept either.",
        "responses": {
          "200": {
            "description": "Available runtime images.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeImageListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "501": {
            "$ref": "#/components/responses/Error501"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          },
          "504": {
            "$ref": "#/components/responses/Error504"
          },
          "default": {
            "$ref": "#/components/responses/ErrorDefault"
          }
        }
      }
    },
    "/v2/checkpoints": {
      "get": {
        "operationId": "listCheckpoints",
        "summary": "List checkpoints",
        "tags": [
          "checkpoints"
        ],
        "description": "Cursor-paginated like the runtime list. Described here so `create --from-checkpoint` can accept a checkpoint name \u2014 `checkpoint_id` itself must be a UUID.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of checkpoints.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckpointListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "501": {
            "$ref": "#/components/responses/Error501"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          },
          "504": {
            "$ref": "#/components/responses/Error504"
          },
          "default": {
            "$ref": "#/components/responses/ErrorDefault"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Runta API Key",
        "description": "A Runta API key (`rt_\u2026`), bound to exactly one organization, or a user access token from the device flow. Sent as `Authorization: Bearer <token>`. Omitting the header yields 403, not 401."
      }
    },
    "schemas": {
      "ErrorCode": {
        "type": "string",
        "description": "Stable machine-readable error code.",
        "enum": [
          "already_exists",
          "command_failed",
          "deadline_exceeded",
          "failed_precondition",
          "internal",
          "invalid_argument",
          "not_found",
          "permission_denied",
          "rate_limited",
          "unauthenticated",
          "unavailable",
          "unimplemented"
        ]
      },
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false,
        "properties": {
          "code": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "message": {
            "type": "string",
            "description": "Human-readable detail. Not stable; branch on `code`."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Standard error envelope. `request_id` is a **sibling of `error`**, not a field inside it \u2014 the published docs place it inside `error`, but the live API does not. It matches the `X-Request-Id` response header and is a UUID v7.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          },
          "request_id": {
            "type": "string",
            "format": "uuid",
            "description": "Correlation id, also returned as the `X-Request-Id` header."
          }
        },
        "examples": [
          {
            "error": {
              "code": "not_found",
              "message": "runtime 'demo' was not found"
            },
            "request_id": "01a0dcb6-d3c3-7c10-acf9-961792e6c237"
          }
        ]
      },
      "Pagination": {
        "type": "object",
        "description": "Cursor pagination, returned as a sibling of `data` on list endpoints. Undocumented in the published reference; included here because list operations will need it.",
        "required": [
          "has_more"
        ],
        "properties": {
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as `cursor` to fetch the next page."
          },
          "has_more": {
            "type": "boolean"
          }
        }
      },
      "DeviceClientId": {
        "type": "string",
        "description": "Which first-party client is authorizing.",
        "enum": [
          "runta_cli",
          "runta_agent",
          "runta_crew"
        ]
      },
      "BeginDeviceAuthorizationRequest": {
        "type": "object",
        "required": [
          "client_id"
        ],
        "properties": {
          "client_id": {
            "$ref": "#/components/schemas/DeviceClientId"
          },
          "device_name": {
            "type": "string",
            "description": "Label shown to the user on the approval screen."
          },
          "app_url": {
            "type": "string",
            "description": "Override the portal origin used to build `verification_uri`."
          }
        }
      },
      "DeviceAuthorization": {
        "type": "object",
        "required": [
          "device_code",
          "user_code",
          "verification_uri",
          "verification_uri_complete",
          "expires_at",
          "interval"
        ],
        "properties": {
          "device_code": {
            "type": "string",
            "description": "Secret. Poll with this; never show it to the user."
          },
          "user_code": {
            "type": "string",
            "description": "Short code to display, e.g. `G3UE-K5BZ`."
          },
          "verification_uri": {
            "type": "string",
            "format": "uri"
          },
          "verification_uri_complete": {
            "type": "string",
            "format": "uri",
            "description": "Open this \u2014 it pre-fills `user_code`."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "Stop polling after this instant."
          },
          "interval": {
            "type": "integer",
            "description": "Minimum seconds between polls.",
            "examples": [
              5
            ]
          }
        }
      },
      "DeviceAuthorizationResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DeviceAuthorization"
          }
        }
      },
      "ExchangeDeviceTokenRequest": {
        "type": "object",
        "required": [
          "device_code"
        ],
        "properties": {
          "device_code": {
            "type": "string"
          }
        }
      },
      "DeviceToken": {
        "type": "object",
        "description": "Not enveloped in `data`, unlike most 2xx bodies.",
        "required": [
          "access_token",
          "token_type",
          "expires_in"
        ],
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "examples": [
              "Bearer"
            ]
          },
          "expires_in": {
            "type": "integer",
            "description": "Seconds until expiry."
          }
        }
      },
      "DeviceTokenPendingError": {
        "type": "object",
        "description": "The 400 body for `POST /v2/auth/device/token` only. `error` is a **string** here, unlike the object in `ErrorResponse`.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "RFC 8628 error. `authorization_pending` and `slow_down` are retryable; the rest are terminal.",
            "enum": [
              "authorization_pending",
              "slow_down",
              "access_denied",
              "expired_token"
            ]
          },
          "interval": {
            "type": "integer",
            "description": "Updated minimum seconds between polls."
          }
        }
      },
      "User": {
        "type": "object",
        "required": [
          "user_id",
          "email",
          "display_name"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "ModelProvider": {
        "type": "object",
        "required": [
          "id",
          "secret_id",
          "display_name",
          "protocol",
          "base_url",
          "default_model",
          "header_name",
          "value_template"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "secret_id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "protocol": {
            "type": "string"
          },
          "base_url": {
            "type": "string"
          },
          "default_model": {
            "type": [
              "string",
              "null"
            ]
          },
          "header_name": {
            "type": "string"
          },
          "value_template": {
            "type": "string"
          }
        }
      },
      "ModelProvidersResponse": {
        "type": "object",
        "description": "Note this response is not wrapped in `data`, and that `organization_id` is the only place in the entire API where the calling credential's organization is exposed \u2014 there is no organization or team endpoint, and no organization *name* anywhere. See NOTES.md.",
        "required": [
          "organization_id",
          "model_providers"
        ],
        "properties": {
          "organization_id": {
            "type": "string",
            "description": "The organization the bearer credential is bound to."
          },
          "model_providers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModelProvider"
            }
          }
        }
      },
      "RuntimeStatus": {
        "type": "string",
        "description": "Observed runtime status.",
        "enum": [
          "running",
          "paused",
          "shutdown",
          "creating",
          "deleting",
          "error",
          "crashed",
          "suspended",
          "unavailable"
        ]
      },
      "RuntimeDesiredStatus": {
        "type": "string",
        "description": "Control-plane target state. A strict subset of RuntimeStatus \u2014 no creating, error, crashed or unavailable.",
        "enum": [
          "running",
          "paused",
          "suspended",
          "shutdown",
          "deleting"
        ]
      },
      "EgressPolicy": {
        "description": "Egress policy. denylist denies the listed hosts and allows everything else; allowlist permits only the listed hosts.",
        "oneOf": [
          {
            "type": "object",
            "required": [
              "mode",
              "denied_hosts"
            ],
            "properties": {
              "mode": {
                "type": "string",
                "enum": [
                  "denylist"
                ]
              },
              "denied_hosts": {
                "type": "array",
                "maxItems": 128,
                "items": {
                  "type": "string"
                },
                "description": "Hostnames, wildcard patterns, IPs or CIDRs. An empty list means unrestricted egress."
              }
            }
          },
          {
            "type": "object",
            "required": [
              "mode",
              "allowed_hosts"
            ],
            "properties": {
              "mode": {
                "type": "string",
                "enum": [
                  "allowlist"
                ]
              },
              "allowed_hosts": {
                "type": "array",
                "maxItems": 128,
                "items": {
                  "type": "string"
                },
                "description": "An empty list means no egress at all."
              }
            }
          }
        ]
      },
      "IdlePolicy": {
        "description": "Idle suspension and auto-wakeup policy.",
        "oneOf": [
          {
            "type": "object",
            "required": [
              "mode"
            ],
            "properties": {
              "mode": {
                "type": "string",
                "enum": [
                  "disabled"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "mode",
              "suspend_after_secs"
            ],
            "properties": {
              "mode": {
                "type": "string",
                "enum": [
                  "suspend_only"
                ]
              },
              "suspend_after_secs": {
                "type": "integer",
                "minimum": 1,
                "maximum": 2147483647
              }
            }
          },
          {
            "type": "object",
            "required": [
              "mode",
              "suspend_after_secs"
            ],
            "properties": {
              "mode": {
                "type": "string",
                "enum": [
                  "suspend_and_wakeup"
                ]
              },
              "suspend_after_secs": {
                "type": "integer",
                "minimum": 1,
                "maximum": 2147483647
              }
            }
          }
        ]
      },
      "IngressSpec": {
        "type": "object",
        "required": [
          "protocol",
          "runtime_port"
        ],
        "properties": {
          "protocol": {
            "type": "string",
            "enum": [
              "http",
              "https"
            ]
          },
          "runtime_port": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535
          }
        }
      },
      "LlmTokenSavingPolicy": {
        "type": "object",
        "description": "Compression of large tool outputs. Omit on create to leave every method disabled.",
        "properties": {
          "json_array_enabled": {
            "type": "boolean"
          },
          "log_enabled": {
            "type": "boolean"
          },
          "search_results_enabled": {
            "type": "boolean"
          },
          "git_diff_enabled": {
            "type": "boolean"
          }
        }
      },
      "SecretEnvironmentBinding": {
        "type": "object",
        "required": [
          "name",
          "value_template"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "value_template": {
            "type": "string"
          }
        }
      },
      "SecretEgressRule": {
        "type": "object",
        "required": [
          "host_pattern",
          "action",
          "name",
          "value_template"
        ],
        "properties": {
          "host_pattern": {
            "type": "string"
          },
          "path_pattern": {
            "type": [
              "string",
              "null"
            ],
            "description": "Defaults to every path."
          },
          "action": {
            "type": "string",
            "enum": [
              "header",
              "query"
            ],
            "description": "Where the secret is injected."
          },
          "name": {
            "type": "string",
            "description": "Header or query-parameter name."
          },
          "value_template": {
            "type": "string"
          }
        }
      },
      "SecretFileBinding": {
        "type": "object",
        "required": [
          "path",
          "value_template"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Relative to the guest home directory."
          },
          "value_template": {
            "type": "string"
          }
        }
      },
      "SecretConfiguration": {
        "type": "object",
        "required": [
          "secret_id"
        ],
        "properties": {
          "secret_id": {
            "type": "string"
          },
          "environment": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecretEnvironmentBinding"
            }
          },
          "egress_rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecretEgressRule"
            }
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecretFileBinding"
            }
          }
        }
      },
      "RepositoryCheckout": {
        "type": "object",
        "required": [
          "repository_id"
        ],
        "properties": {
          "repository_id": {
            "type": "integer",
            "description": "GitHub repository id."
          },
          "branch": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "VncConnection": {
        "type": "object",
        "required": [
          "hostname",
          "port",
          "username",
          "security_type"
        ],
        "properties": {
          "hostname": {
            "type": "string",
            "minLength": 1
          },
          "port": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535
          },
          "username": {
            "type": "string",
            "enum": [
              "runta"
            ]
          },
          "security_type": {
            "type": "string",
            "enum": [
              "X509Plain"
            ]
          }
        }
      },
      "RuntimeResources": {
        "type": "object",
        "required": [
          "current",
          "limits",
          "requests"
        ],
        "description": "Verified against the live API: disk_gib is under `requests`, not `resources`.",
        "properties": {
          "current": {
            "type": "object",
            "required": [
              "memory_mib",
              "observed_disk_gib"
            ],
            "properties": {
              "memory_mib": {
                "type": "integer",
                "minimum": 1
              },
              "observed_disk_gib": {
                "type": "integer",
                "description": "Worker-observed overlay capacity in GiB."
              }
            }
          },
          "limits": {
            "type": "object",
            "required": [
              "memory_mib"
            ],
            "properties": {
              "memory_mib": {
                "type": "integer",
                "minimum": 1,
                "description": "Maximum memory for auto-scaling."
              }
            }
          },
          "requests": {
            "type": "object",
            "required": [
              "memory_mib",
              "vcpus"
            ],
            "properties": {
              "memory_mib": {
                "type": "integer",
                "minimum": 1
              },
              "vcpus": {
                "type": "integer",
                "minimum": 1,
                "maximum": 2147483647
              },
              "disk_gib": {
                "type": "integer",
                "minimum": 16,
                "maximum": 256
              }
            }
          }
        }
      },
      "Runtime": {
        "type": "object",
        "required": [
          "id",
          "display_name",
          "status",
          "desired_status",
          "degraded",
          "created_at",
          "updated_at",
          "egress_policy",
          "idle_policy",
          "ingress_specs",
          "resources",
          "image_id",
          "revision",
          "ssh_enabled",
          "vnc_enabled",
          "vnc_ready",
          "vnc_connection",
          "owner_user_id",
          "can_manage",
          "llm_tool_io_capture_enabled",
          "llm_session_content_capture_enabled",
          "llm_token_saving_policy",
          "secret_configuration"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable runtime UUID."
          },
          "display_name": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/RuntimeStatus"
          },
          "desired_status": {
            "$ref": "#/components/schemas/RuntimeDesiredStatus"
          },
          "degraded": {
            "type": "boolean",
            "description": "A running runtime with no successful heartbeat for 60s or more."
          },
          "created_at": {
            "type": "string",
            "description": "RFC3339. No format declared upstream."
          },
          "updated_at": {
            "type": "string",
            "description": "RFC3339. No format declared upstream."
          },
          "image_id": {
            "type": "string"
          },
          "revision": {
            "type": "integer",
            "minimum": 1,
            "description": "Monotonic aggregate revision. DELETE requires this as `expected_revision`."
          },
          "environment_variables": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "maxProperties": 64
          },
          "egress_policy": {
            "$ref": "#/components/schemas/EgressPolicy"
          },
          "idle_policy": {
            "$ref": "#/components/schemas/IdlePolicy"
          },
          "ingress_specs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IngressSpec"
            }
          },
          "resources": {
            "$ref": "#/components/schemas/RuntimeResources"
          },
          "ssh_enabled": {
            "type": "boolean"
          },
          "vnc_enabled": {
            "type": "boolean"
          },
          "vnc_ready": {
            "type": "boolean"
          },
          "vnc_connection": {
            "$ref": "#/components/schemas/VncConnection",
            "description": "Gateway parameters for the zone. Populated even when vnc_enabled is false."
          },
          "vnc_error_code": {
            "type": [
              "string",
              "null"
            ],
            "description": "Omitted when null."
          },
          "error_code": {
            "type": [
              "string",
              "null"
            ],
            "description": "Provisioning failure code. Omitted when null."
          },
          "owner_user_id": {
            "type": "string"
          },
          "can_manage": {
            "type": "boolean"
          },
          "llm_tool_io_capture_enabled": {
            "type": "boolean"
          },
          "llm_session_content_capture_enabled": {
            "type": "boolean"
          },
          "llm_token_saving_policy": {
            "$ref": "#/components/schemas/LlmTokenSavingPolicy"
          },
          "secret_configuration": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecretConfiguration"
            }
          }
        }
      },
      "RuntimeResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Runtime"
          }
        }
      },
      "RuntimeListResponse": {
        "type": "object",
        "required": [
          "data",
          "pagination"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Runtime"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "CreateRuntimeRequest": {
        "description": "Either a fresh runtime from a Runtime Image, or a restore from a checkpoint. Note there is no top-level cpus/memory/disk \u2014 those are resources.requests.*.",
        "oneOf": [
          {
            "title": "Fresh",
            "type": "object",
            "properties": {
              "name": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Human-readable name. A random one is assigned when omitted."
              },
              "egress_policy": {
                "$ref": "#/components/schemas/EgressPolicy"
              },
              "idle_policy": {
                "$ref": "#/components/schemas/IdlePolicy",
                "description": "Defaults to disabled."
              },
              "ingress_specs": {
                "type": "array",
                "maxItems": 16,
                "items": {
                  "$ref": "#/components/schemas/IngressSpec"
                }
              },
              "secret_configuration": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SecretConfiguration"
                }
              },
              "ssh_key_ids": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "vnc_enabled": {
                "type": "boolean"
              },
              "repositories": {
                "type": "array",
                "maxItems": 20,
                "items": {
                  "$ref": "#/components/schemas/RepositoryCheckout"
                }
              },
              "llm_tool_io_capture_enabled": {
                "type": "boolean"
              },
              "llm_session_content_capture_enabled": {
                "type": "boolean"
              },
              "llm_token_saving_policy": {
                "$ref": "#/components/schemas/LlmTokenSavingPolicy"
              },
              "environment_variables": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "maxProperties": 64,
                "description": "Names must match [A-Za-z_][A-Za-z0-9_]*. The RUNTA_ prefix is reserved."
              },
              "resources": {
                "type": "object",
                "properties": {
                  "limits": {
                    "type": "object",
                    "required": [
                      "memory_mib"
                    ],
                    "properties": {
                      "memory_mib": {
                        "type": "integer",
                        "minimum": 1
                      }
                    }
                  },
                  "requests": {
                    "type": "object",
                    "properties": {
                      "memory_mib": {
                        "type": "integer",
                        "minimum": 1,
                        "default": 1024
                      },
                      "vcpus": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 2147483647,
                        "default": 1
                      },
                      "disk_gib": {
                        "type": "integer",
                        "minimum": 16,
                        "maximum": 256
                      }
                    }
                  }
                }
              },
              "image": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "model_provider_protocol": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "model_provider_base_url": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "model_provider_model": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "runtime_sign_in": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          {
            "title": "FromCheckpoint",
            "type": "object",
            "required": [
              "checkpoint_id"
            ],
            "properties": {
              "name": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Human-readable name. A random one is assigned when omitted."
              },
              "egress_policy": {
                "$ref": "#/components/schemas/EgressPolicy"
              },
              "idle_policy": {
                "$ref": "#/components/schemas/IdlePolicy",
                "description": "Defaults to disabled."
              },
              "ingress_specs": {
                "type": "array",
                "maxItems": 16,
                "items": {
                  "$ref": "#/components/schemas/IngressSpec"
                }
              },
              "secret_configuration": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SecretConfiguration"
                }
              },
              "ssh_key_ids": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "vnc_enabled": {
                "type": "boolean"
              },
              "repositories": {
                "type": "array",
                "maxItems": 20,
                "items": {
                  "$ref": "#/components/schemas/RepositoryCheckout"
                }
              },
              "llm_tool_io_capture_enabled": {
                "type": "boolean"
              },
              "llm_session_content_capture_enabled": {
                "type": "boolean"
              },
              "llm_token_saving_policy": {
                "$ref": "#/components/schemas/LlmTokenSavingPolicy"
              },
              "checkpoint_id": {
                "type": "string",
                "minLength": 1,
                "description": "Resources and image identity are fixed by the checkpoint."
              }
            }
          }
        ]
      },
      "RuntimeImage": {
        "type": "object",
        "required": [
          "id",
          "name",
          "architectures",
          "disk",
          "recommended_resources",
          "is_default",
          "is_custom",
          "exposed_ports"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable slug, e.g. `clean` or `claude`. What create takes."
          },
          "name": {
            "type": "string",
            "description": "Display name, e.g. \"Clean runtime\"."
          },
          "description": {
            "type": "string"
          },
          "icon_key": {
            "type": "string"
          },
          "architectures": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "disk": {
            "type": "object",
            "required": [
              "minimum_gib",
              "maximum_gib",
              "default_gib",
              "step_gib"
            ],
            "properties": {
              "minimum_gib": {
                "type": "integer"
              },
              "maximum_gib": {
                "type": "integer"
              },
              "default_gib": {
                "type": "integer"
              },
              "step_gib": {
                "type": "integer"
              }
            }
          },
          "recommended_resources": {
            "type": "object",
            "required": [
              "vcpus",
              "memory_mib"
            ],
            "properties": {
              "vcpus": {
                "type": "integer"
              },
              "memory_mib": {
                "type": "integer"
              }
            }
          },
          "is_default": {
            "type": "boolean"
          },
          "is_custom": {
            "type": "boolean"
          },
          "exposed_ports": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "model_provider": {
            "type": "object",
            "additionalProperties": true,
            "description": "Present only on images that front a model provider. Shape not yet described."
          }
        }
      },
      "RuntimeImageListResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "description": "Not paginated \u2014 unlike the runtime and checkpoint lists, there is no `pagination`.",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RuntimeImage"
            }
          }
        }
      },
      "CheckpointSummary": {
        "type": "object",
        "required": [
          "id",
          "display_name"
        ],
        "additionalProperties": true,
        "description": "Partial. Only the fields needed to resolve a name are described, because the account used to verify this spec had no checkpoints. See NOTES.md.",
        "properties": {
          "id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "description": "Observed values include `creating` and `ready`."
          }
        }
      },
      "CheckpointListResponse": {
        "type": "object",
        "required": [
          "data",
          "pagination"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CheckpointSummary"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      }
    },
    "responses": {
      "Error400": {
        "description": "Malformed or invalid request body.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error401": {
        "description": "The bearer token was present but rejected.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error403": {
        "description": "No bearer token was supplied, or the token's role does not allow this action.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error404": {
        "description": "The requested resource was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error409": {
        "description": "The request conflicts with current resource state.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error422": {
        "description": "Validation or application error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error429": {
        "description": "Rate limit exceeded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error500": {
        "description": "Internal error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error501": {
        "description": "Operation is not implemented.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error503": {
        "description": "Upstream service is unavailable.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error504": {
        "description": "Upstream request timed out.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ErrorDefault": {
        "description": "Error response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
