{
  "openapi": "3.1.0",
  "info": {
    "title": "Runta API",
    "version": "0.1.0",
    "description": "Placeholder spec. Replace by pointing RUNTA_OPENAPI_URL at the live schema and running `pnpm api:sync`."
  },
  "servers": [{ "url": "https://api.runta.dev" }],
  "paths": {
    "/v1/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Return the authenticated user",
        "tags": ["users"],
        "responses": {
          "200": {
            "description": "The authenticated user",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/User" }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" }
    },
    "schemas": {
      "User": {
        "type": "object",
        "required": ["id", "email"],
        "properties": {
          "id": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "name": { "type": "string" }
        }
      },
      "Error": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": { "type": "string" },
          "message": { "type": "string" },
          "requestId": { "type": "string" }
        }
      }
    }
  },
  "security": [{ "bearerAuth": [] }]
}
